/* src/pages/admin/RoomManagement.css */

.room-management {
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
}

.room-management h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.room-management button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.room-management button:hover {
    background-color: #0056b3;
}

.room-type-columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.room-type-column {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    margin: 10px;
}

.room-type-column h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.room-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.room-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room-card p {
    margin: 10px 0;
    color: #333;
    text-align: center;
}

.room-card .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.room-card button {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 5px;
}

.room-card button:first-child {
    background-color: #28a745;
    color: #fff;
}

.room-card button:first-child:hover {
    background-color: #218838;
}

.room-card button:last-child {
    background-color: #dc3545;
    color: #fff;
}

.room-card button:last-child:hover {
    background-color: #c82333;
}
